@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  width: 100%;
  color: #6C4132;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li {
  margin-right: 30px;
}

.wrapper {
  width: 100%;
  max-width: calc(100vw - 25%);
  margin: 0 auto;
}

.BGcolor {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 29.5%;
  height: 100vh;
  background-color: #E0AE95;
}

.btn {
  background: none;
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}