.header {
  margin-top: 24px;
  width: 100%;
}
.header .wrapper {
  display: flex;
  justify-content: space-between;
}

.header__list {
  display: flex;
  justify-content: space-between;
}
.header__list .list__item {
  font-weight: 500;
  cursor: pointer;
}
.header__list .list__item:hover {
  font-weight: 600;
}
.header__list .list__item:nth-last-child(2) {
  margin-right: 100px;
}

.list__item:nth-last-child(2) {
  color: white;
}

.header__logo {
  position: relative;
}
.header__logo span {
  position: absolute;
  top: 50px;
  left: 95px;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.6s;
}
.header__logo span:hover {
  font-size: 17px;
  transition: all 0.6s;
}