.header {
  margin-top: 24px;
  width: 100%;
}
.header .wrapper {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  position: relative;
}

.header__image {
  color: #6C4132;
}
.header__image:visited {
  color: #6C4132;
}

.js__link--header {
  position: absolute;
  top: 55px;
  left: 100px;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.6s;
  cursor: pointer;
}
.js__link--header:hover {
  text-shadow: 0 0 0.65px #6C4132, 0 0 0.65px #6C4132;
  font-size: 18px;
  transition: all 0.6s;
}

.header__list {
  display: flex;
  justify-content: space-between;
}
.header__list .list__item {
  font-weight: 500;
  cursor: pointer;
  padding: 10px;
  border-radius: 12px;
  transition: all 0.6s;
}
.header__list .list__item:hover {
  transition: all 0.6s;
  text-shadow: 0 0 0.7px #6C4132, 0 0 0.65px #6C4132;
  background-color: rgba(224, 174, 149, 0.43);
}
.header__list .list__item:nth-last-child(2) {
  margin-right: 65px;
}
.header__list .list__item:nth-last-child(2):hover {
  background-color: rgb(255, 255, 255);
  color: #6C4132;
}
.header__list .list__item a {
  color: #6C4132;
  text-decoration: none;
}
.header__list .list__item a:visited {
  color: #6C4132;
}

.list__item:nth-last-child(2) > a {
  color: white;
  transition: all 0.6s;
}
.list__item:nth-last-child(2) > a:hover {
  transition: all 0.6s;
  text-shadow: 0 0 0.7px #6C4132, 0 0 0.65px #6C4132;
  color: #6C4132;
}

.header__basket path {
  transition: all 0.6s;
}
.header__basket:hover path {
  transition: all 0.6s;
  fill: #6C4132;
}