.hero {
  width: 100%;
}

.hero__title {
  margin-top: 28.5714285714vh;
  margin-bottom: 10px;
  font-size: 32px;
}

.hero__subtitle {
  font-size: 22px;
  margin-bottom: 30px;
}

.hero__btn {
  background-color: #E0AE95;
  padding: 20px 100px;
  border-radius: 16px;
  font-size: 24px;
  color: white;
  letter-spacing: 2px;
  font-family: "Montserrat Alternates", sans-serif;
  cursor: pointer;
  transition: all 0.6s;
  -webkit-box-shadow: 10px 10px 20px 3px rgba(34, 60, 80, 0.22);
  -moz-box-shadow: 10px 10px 20px 3px rgba(34, 60, 80, 0.22);
  box-shadow: 10px 10px 20px 3px rgba(34, 60, 80, 0.22);
}
.hero__btn:hover {
  transition: all 0.6s;
  background: #c59882;
}
.hero__btn:active {
  background: #8e6b5a;
}

.hero__image {
  position: absolute;
  top: 20%;
  right: 10%;
}