@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  width: 100%;
  color: #6C4132;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li {
  margin-right: 30px;
}

.wrapper {
  width: 100%;
  max-width: calc(100vw - 25%);
  margin: 0 auto;
}

.BGcolor {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 29.5%;
  height: 100vh;
  background-color: #E0AE95;
}

.btn {
  background: none;
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  scroll-behavior: none;
  background-color: rgba(92, 55, 43, 0.5058823529);
  display: flex;
  justify-content: center;
  align-items: center;
}

.basket {
  position: relative;
  background-color: #fff;
  width: 1100px;
  height: 90vh;
  border-radius: 30px;
  overflow-y: scroll;
}

.basket__top {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.basket__top .basket__title {
  margin-left: 50px;
  text-transform: uppercase;
}
.basket__top .basket__reset {
  background-color: #E0AE95;
  color: white;
  padding: 10px 40px;
  margin-right: 50px;
  font-family: "Montserrat Alternates", sans-serif;
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.6s;
}
.basket__top .basket__reset:hover {
  transition: all 0.6s;
  background-color: #cf9a7f;
}
.basket__top .basket__reset:active {
  background-color: #7d5c4c;
}

.temp {
  margin: 40px 80px 50px 50px;
  display: flex;
  align-items: center;
}
.temp .temp__image {
  width: 200px;
  height: 200px;
}
.temp .temp__discription {
  margin-top: 15px;
  margin-left: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.temp .temp__discription .temp__title {
  font-weight: bold;
  font-size: 24px;
}
.temp .temp__discription .temp__pw {
  width: 100px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}
.temp .temp__discription .temp__pw .temp__price {
  font-weight: bold;
}
.temp .temp__count {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.temp .temp__count .temp__counter {
  background-color: #E0AE95;
  padding: 18.5px 18.5px;
  cursor: default;
  color: white;
}
.temp .temp__count .temp__plus {
  border-radius: 10px 0 0 10px;
}
.temp .temp__count .temp__minus {
  border-radius: 0 10px 10px 0;
}
.temp .temp__count .temp__plus, .temp .temp__count .temp__minus {
  font-size: 24px;
  color: white;
  background-color: #E0AE95;
  padding: 14.5px 14.5px;
  cursor: pointer;
  transition: all 0.6s;
}
.temp .temp__count .temp__plus:hover, .temp .temp__count .temp__minus:hover {
  transition: all 0.6s;
  background-color: #cf9a7f;
}
.temp .temp__count .temp__plus:active, .temp .temp__count .temp__minus:active {
  background-color: #7d5c4c;
}

.header {
  margin-top: 24px;
  width: 100%;
}
.header .wrapper {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  position: relative;
}

.header__image {
  color: #6C4132;
}
.header__image:visited {
  color: #6C4132;
}

.js__link--header {
  position: absolute;
  top: 55px;
  left: 100px;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.6s;
  cursor: pointer;
}
.js__link--header:hover {
  text-shadow: 0 0 0.65px #6C4132, 0 0 0.65px #6C4132;
  font-size: 18px;
  transition: all 0.6s;
}

.header__list {
  display: flex;
  justify-content: space-between;
}
.header__list .list__item {
  font-weight: 500;
  cursor: pointer;
  padding: 10px;
  border-radius: 12px;
  transition: all 0.6s;
}
.header__list .list__item:hover {
  transition: all 0.6s;
  text-shadow: 0 0 0.7px #6C4132, 0 0 0.65px #6C4132;
  background-color: rgba(224, 174, 149, 0.43);
}
.header__list .list__item:nth-last-child(2) {
  margin-right: 65px;
}
.header__list .list__item:nth-last-child(2):hover {
  background-color: rgb(255, 255, 255);
  color: #6C4132;
}
.header__list .list__item a {
  color: #6C4132;
  text-decoration: none;
}
.header__list .list__item a:visited {
  color: #6C4132;
}

.list__item:nth-last-child(2) > a {
  color: white;
  transition: all 0.6s;
}
.list__item:nth-last-child(2) > a:hover {
  transition: all 0.6s;
  text-shadow: 0 0 0.7px #6C4132, 0 0 0.65px #6C4132;
  color: #6C4132;
}

.header__basket path {
  transition: all 0.6s;
}
.header__basket:hover path {
  transition: all 0.6s;
  fill: #6C4132;
}

.hero {
  width: 100%;
  height: 420px;
}

.hero__title {
  margin-top: 28.5714285714vh;
  margin-bottom: 10px;
  font-size: 32px;
}

.hero__subtitle {
  font-size: 22px;
  margin-bottom: 30px;
}

.hero__btn {
  background-color: #E0AE95;
  padding: 20px 100px;
  border-radius: 16px;
  font-size: 24px;
  color: white;
  letter-spacing: 2px;
  font-family: "Montserrat Alternates", sans-serif;
  cursor: pointer;
  transition: all 0.6s;
  -webkit-box-shadow: 10px 10px 20px 3px rgba(34, 60, 80, 0.22);
  -moz-box-shadow: 10px 10px 20px 3px rgba(34, 60, 80, 0.22);
  box-shadow: 10px 10px 20px 3px rgba(34, 60, 80, 0.22);
}
.hero__btn:hover {
  transition: all 0.6s;
  background: #c59882;
}
.hero__btn:active {
  background: #8e6b5a;
}

.hero__image {
  position: absolute;
  top: 20%;
  right: 10%;
}

.menu {
  background-color: #FFF0E9;
  height: 100%;
}

.menu__top {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
.menu__top .menu__title {
  font-size: 40px;
}

.search svg {
  position: relative;
  top: 10px;
  left: 50px;
}
.search .menu__search {
  font-size: 20px;
  padding: 20px 20px 20px 55px;
  border: none;
  border-radius: 20px;
}
.search .menu__search::-webkit-input-placeholder {
  color: #E0AE95;
  font-family: "Montserrat Alternates", sans-serif;
}
.search .menu__search:focus, .search .menu__search:active {
  outline: #E0AE95 solid 3px;
}

.menu__cards {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.btn__list {
  flex-direction: column;
  align-items: baseline;
  position: relative;
}
.btn__list .btn {
  font-weight: bold;
  display: block;
  width: 180px;
  padding: 15px 0;
  margin-bottom: 30px;
  border-radius: 10px;
  color: #5C372B;
  border: 1px solid #E0AE95;
  font-family: "Montserrat Alternates", sans-serif;
  transition: all 0.6s;
  cursor: pointer;
}
.btn__list .btn:hover {
  transition: all 0.6s;
  background-color: #E0AE95;
}
.btn__list .btn:active {
  transition: all 0.6s;
  background-color: #ffffff;
}
.btn__list .all {
  position: absolute;
  top: 85%;
  left: 250%;
  width: 250px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  background-color: #6C4132;
  font-family: "Montserrat Alternates", sans-serif;
}
.btn__list .btn-active {
  background-color: white;
  -webkit-box-shadow: 6px 5px 6px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 6px 5px 6px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 6px 5px 6px 2px rgba(34, 60, 80, 0.2);
}

.product__list {
  flex-wrap: wrap;
  display: none;
  justify-content: center;
}
.product__list .card {
  margin-right: 30px;
  margin-bottom: 100px;
  width: 260px;
  height: 415px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  font-size: 20px;
  position: relative;
}
.product__list .card .card__photo {
  position: absolute;
  top: -20%;
  left: 5%;
}
.product__list .card .card__title {
  font-weight: bold;
  display: block;
  width: 80%;
}
.product__list .card .description {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.product__list .card .description .price {
  font-weight: bold;
}

.add {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  background-color: white;
  -webkit-box-shadow: 6px 5px 6px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 6px 5px 6px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 6px 5px 6px 2px rgba(34, 60, 80, 0.2);
  transition: all 0.6s;
}
.add:hover {
  transition: all 0.6s;
  background-color: rgb(232, 232, 232);
}
.add:active {
  background-color: rgb(88, 88, 88);
}

.none {
  display: none;
}

.player > .wrapper .description--1 {
  margin-top: 55px;
}
.player > .wrapper .description--1, .player > .wrapper .description--2 {
  font-size: 14px;
  color: #E0AE95;
}
.player > .wrapper .player__heading {
  margin-top: 100px;
  margin-bottom: 70px;
  font-size: 40px;
}
.player > .wrapper .video {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 85px;
}
.player > .wrapper .video .video__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.player__list {
  margin-top: 130px;
}
.player__list .list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.player__list .list__item .player__icon {
  margin-right: 30px;
}

.footer {
  background-color: #E0AE95;
  padding: 60px 0px;
}
.footer .wrapper {
  display: flex;
  justify-content: space-between;
}
.footer .wrapper .js__link--footer {
  position: absolute;
  bottom: 3px;
  left: 95px;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.6s;
  cursor: pointer;
}
.footer .wrapper .js__link--footer:hover {
  text-shadow: 0 0 0.65px #6C4132, 0 0 0.65px #6C4132;
  font-size: 18px;
  transition: all 0.6s;
}
.footer .wrapper .footer__discription {
  color: white;
  font-weight: medium;
}

.footer__logo {
  position: relative;
}

.footer__image {
  margin-right: 70px;
  color: #6C4132;
}
.footer__image:visited {
  color: #6C4132;
}