.header {
  margin-top: 24px;
  width: 100%;
  .wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.header__logo {
  color: #6C4132;
  position: relative;
  &:visited {
    color: #6C4132;
  }
}
.js__link {
  position: absolute;
  top: 75px;
  left: 285px;
  font-size: 16px;
  font-weight: 400;
  transition: all .6s;
  cursor: pointer;
  &:hover {
    text-shadow: 0 0 .65px #6C4132, 0 0 .65px #6C4132;
    font-size: 18px;
    transition: all .6s;
  }
}
.header__list {
  display: flex;
  justify-content: space-between;
  .list__item {
    font-weight: 500;
    cursor: pointer;
    padding: 10px;
    border-radius: 12px;
    transition: all .6s;
    &:hover {
      transition: all .6s;
      text-shadow: 0 0 .65px #6C4132, 0 0 .65px #6C4132;
      background-color: rgba(224, 174, 149, 0.43);
    }
    &:nth-last-child(2) {
      margin-right: 65px;
      &:hover {
        background-color: rgb(255, 255, 255);
        color: #6C4132;
      }
    }
    a {
      color: #6C4132;
      text-decoration: none;
      &:visited {
        color: #6C4132;
      }
    }
  }
}
.list__item:nth-last-child(2) > a {
  color: white;
}
.header__basket {
  path {
    transition: all .6s;
  }
  &:hover path {
    transition: all .6s;
    fill: #6C4132;
  }
}