@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat Alternates', sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  background-color: #c29781;
}

::-webkit-scrollbar-thumb {
  background-color: #a7806d;
  border-radius: 40px;
}

.menu {
  height: 100%;
  grid-template-columns: 250px 1fr;
  grid-template-rows: repeat(2, 1fr) 150px;
  grid-template-areas: 'heading heading'
                       'tabs item'
                       'button button';
}

.menu > h1 {
  grid-area: heading;
}

.menu > .search {
  grid-area: heading;
}

.menu > .button {
  grid-area: button;
}

.menu > .menu-items {
  grid-area: item;
}

.item:nth-child(n + 4) {
  display: none;
}